@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

#app{
  font-family: 'poppins', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
    color :#cd8464;
}


.logo a{
    font-size: 2.3rem;
    margin-right: 3rem;
    color:#d85c5c;
    font-weight: 400;
    cursor: default;
    text-decoration: none;
}
.nav-item .nav{
  color: #E08282;
  text-decoration: none;
  font-size: 20px;
  margin-right: 1rem;
  transition: .3s;
}
.nav-item .nav:hover{
  color: #DDA288;
}

.btn-success {
    background-color: #9DC7E2;
    border: none;
}
.btn-success:hover{
  background-color: #DDA288;
  color:#ffffff;
}
.btn-primary{
  background-color:#E08282;
  border: none;
}
.btn-primary:hover{
  background-color:#DDA288;
  color: #ffffff;
}
    

.card-grup{
    width: 30;
    
}
.col-6{
    margin-top: 40px;
    margin-bottom: 50px;
    justify-content: right;
    align-items: right;
}
.col-12{
    width: min-content;
}


.gambar {
    position: relative;
    display: inline-block;
  }
  
  .nama {
    height: 100%;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .cardket{
    flex: 1;
    text-align: left;
    height: 100%;
    width: 90%;
  }

  .mr-3{
  background-color: #9DC7E2; /* Warna latar belakang */
  color: #ffffff;
  border: none;
  
  }
  .mr-3:hover{
    background-color:#DDA288;
    color: #ffffff;
  }

  .gambar {
    width: 100%; /* Ubah ukuran lebar gambar sesuai kebutuhan */
    height: 40%; /* Biarkan tinggi gambar mengikuti aspek rasio */
    
  }
  
  
  .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid #DDA288;
    border-radius: 50%;
    font-size: 2rem;
    color:#955e5e;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
   background-color: #ffffff;
   color:#F7838D; 
   box-shadow: 0 0 1rem var(--main-color);
}

.daftar{
  color:#E08282;
  animation: ease-in-out;
  font-size: 40px;
}
.skin{
  color: #E08282;
  font-size: 40px;
}
.label{
  font-size: 60px;
  color: rgb(101, 161, 207);
}
.brand{
  font-size: 60px;
  color: #E08282;
}
.the{
  font-size: 60px;
  color:  rgb(101, 161, 207);
}
.toko{
  background-color: #955e5e;
  color: #ffffff;
  border: none;
  background-size: 30px;
  border-radius: 10px;
}

.market a{
  margin-right: 3rem;
  font-size: 25px;
  color: #cd8464;
  text-decoration: none;
  text-align: center;
}
.market a:hover{
  color: #955e5e;
  transform: scale(1.02);
}
.garis{
  color: #955e5e;
}
.card{
  transition: .5s ease;
}
.card:hover{
  border-color: #955e5e ;
  transform: scale(1.02);
}


.text {
  margin-left: 10px; /* Atur jarak antara gambar dan teks */
}
.rating-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.star{
  color: #E08282;
}

.social-media2 a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid  rgb(86, 161, 218);
  border-radius: 50%;
  font-size: 2rem;
  color:#9DC7E2;
  margin: 3rem 1.5rem 3rem 0;
  transition: .5s ease;
}

.social-media2 a:hover {
 background-color: #ffffff;
 color:rgb(101, 161, 207); 
 box-shadow: 0 0 1rem var(--main-color);
}
.tro{
  color: #9DC7E2;
  font-size: 60px;
}
.suks{
  color: rgb(86, 161, 218);
}
.thank{
  color: #E08282;
}
.origin{
  color: #9DC7E2;
}
.harga{
  color: #E08282;
}
.skin2{
  color: #9DC7E2;

}
.theor{
  color: #E08282;
}
.rating{
  transition: .5s ease;
}
.rating:hover{
  transform: scale(1.02);
}