@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

#app{
  font-family: 'poppins', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
    color :#cd8464;
}


.logo a{
    font-size: 2.3rem;
    margin-right: 3rem;
    color:#955e5e;
    font-weight: 400;
    cursor: default;
    text-decoration: none;
}
.nav-item .nav{
  color: #955e5e;
  text-decoration: none;
  font-size: 20px;
  margin-right: 1rem;
  transition: .3s;
}
.nav-item .nav:hover{
  color: #457c8e;
}

.btn-success {
    background-color: rgb(101, 161, 207);
    border: none;
}
.btn-success:hover{
  background-color: #DDA288;
  color:#ffffff;
}
.btn-primary{
  background-color: rgb(101, 161, 207);
  border: none;
}
.btn-primary:hover{
  background-color:#DDA288;
  color: #ffffff;
}
    

.card-grup{
    width: 30;
    
}
.col-6{
    margin-top: 40px;
    margin-bottom: 50px;
    justify-content: right;
    align-items: right;
}
.col-12{
    width: min-content;
}


.gambar {
    position: relative;
    display: inline-block;
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(101, 60, 60, 0.7);
    color: rgb(73, 124, 171);
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .overlay:hover {
    opacity: 0.8;
  }
  
  b-img {
    max-width: 100%;
    height: auto;
  }
  
  
  .nama {
    height: 100%;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .cardket{
    flex: 1;
    text-align: left;
    height: 100%;
    width: 90%;
  }

  .mr-3{
  background-color: rgb(101, 161, 207); /* Warna latar belakang */
  color: #ffffff;
  border: none;
  
  }
  .mr-3:hover{
    background-color:#DDA288;
    color: #ffffff;
  }

  .gambar {
    width: 100%; /* Ubah ukuran lebar gambar sesuai kebutuhan */
    height: 40%; /* Biarkan tinggi gambar mengikuti aspek rasio */
    
  }
  
  
  .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid #DDA288;
    border-radius: 50%;
    font-size: 2rem;
    color:#955e5e;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
   background-color: #ffffff;
   color:#cd8464; 
   box-shadow: 0 0 1rem var(--main-color);
}

.daftar{
  color: #955e5e;
  animation: ease-in-out;
}
.skin{
  color: #955e5e;
  font-size: 40px;
}
.label{
  font-size: 60px;
  color: rgb(101, 161, 207);
}
.brand{
  font-size: 60px;
  color: rgb(101, 161, 207);
}
.depan{
  font-size: 60px;
  color: #955e5e;
}
.toko{
  background-color: #955e5e;
  color: #ffffff;
  border: none;
  background-size: 30px;
  border-radius: 10px;
}

.market a{
  font-size: 30px;
  color: #cd8464;
  text-decoration: none;
  text-align: center;
}
.market a:hover{
  color: #955e5e;
}
.card{
  transition: .5s ease;
  background-color: #DDA288;
}
.card:hover{
  border-color: #955e5e ;
  transform: scale(1.02);
}
  